form {
  width: 50rem;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

form>h3 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
  font-weight: 700;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}

.contact_button {
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.contact_button:hover {
  background-color: #990000;
}

.contact_amsterdam_section {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 10rem;
  margin-bottom: 10rem;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.contact_amsterdam_section>p{
  color: white;
}

.amsterdam_list_title{
  color: white;
  font-size: 3rem;
}
.amsterdam_list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}
.amsterdam_list_item{
  color: white;
  background:red;
  padding: 2rem;
  border-radius: 1rem;
  transition: 0.3s;
}
.amsterdam_list_item:hover{
  cursor: pointer;
  padding: 3rem;
}
.amsterdam_list_item>a{
  color: white;
}