.info_amsterdam {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    background: red;
    padding: 15rem 5rem 5rem 5rem;
    width: 100%;
}

.info_amsterdam-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background: red;
    padding: 15rem 5rem 5rem 5rem;
    width: 100%;
    align-content: center;
}

.info_text-2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.info_text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.info_text-2>h2 {
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

.info_text-2>p {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: #fff;
}

.info_text>h2 {
    font-size: 5rem;
    color: #fff;
}

.info_text>p {
    font-size: 2rem;
    width: 40ch;
    color: #fff;
}

.info-button {
    margin-top: 3rem;
}

.info-button>a {
    padding: 1rem 2rem 1rem 2rem;
    background: #fff;
    margin-top: 5rem;
    font-size: 2rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.info-button>a:hover {
    background: #2c2c2c;
    color: #fff;
}

.info_img {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.info_img::before {
    content: "";
    display: block;
    padding-top: 100%;
    /* 1:1 aspect ratio (width/height) */
    box-shadow: 0px 20px 64px -21px rgba(0, 0, 0, 0.57);
}

.info_img>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3rem;

}

@media (max-width: 1024px) {
    .text {
        top: 94%;
    }

    .info_amsterdam {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        height: auto;
        background: red;
        padding: 15rem 3rem 3rem 3rem;
        width: 100%;
    }

    .info_text>p {
        font-size: 1.2rem;
        width: 40ch;
        color: #fff;
    }
}

@media only screen and (max-width: 320px) {
    .info_text {
        gap: 2rem;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .info_amsterdam-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        background: red;
        padding: 5rem 1rem 1rem 1rem;
        width: 100%;
        align-content: center;
    }

    .info_text-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .info_text-2>p {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    .info_text-2>h2 {
        font-weight: bold;
        font-size: 2rem;
        color: #fff;
        text-align: center;
        /* width: 10ch; */
    }

    .info_text>p {
        font-size: 1rem;
        width: 100%;
        /* Adjust as needed */
        color: #fff;
        text-align: center;
    }

    .info_text>h2 {
        font-size: 3rem;
        color: #fff;
        text-align: center;
    }

    .info_amsterdam {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        background: red;
        padding: 15rem 0.5rem 0.5rem 0.5rem;
        width: 100%;
        gap: 2rem;
        align-content: center;
        flex-wrap: wrap;
    }

    .info_img {
        width: 100%;
    }


}